@import "tailwindcss"

/* COLORES PRINCIPALES - Alta Legibilidad */

/* Fondos */
/* --bg-main: #F8FAFC         
--bg-card: #FFFFFF          

/* Textos */
/* --text-primary: #0F172A     
--text-secondary: #475569    */

/* Botones Primarios */
/* --primary: #2563EB         
--primary-hover: #1D4ED8     */ 

/* Estados */
/* --success: #16A34A         
--warning: #F59E0B         
--error: #DC2626            */

/* Bordes */
/* --border: #E2E8F0           
--border-focus: #2563EB     */
